{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    
    <div style="margin:10px;">
        <center><h1>International Conference</h1></center>
        <hr>
        
        <!-- <p class="meta">{{ page.date }}</p>

        <div class="intro">{{ page.intro }}</div>

        {{ page.body|richtext }} -->

        
        {% for i in "x"|ljust:90 %}
            
            <div style="float: left; margin: 20px">
                <img src="/media/images/internationalconferencegallery/internationalconference{{forloop.counter}}.JPG" height="300" width="300">
                <!-- <p>{% image item.image fill-400x400 %}</p> -->
                <!-- <p>{{ item.caption }}</p> -->
                
            </div>
        {% endfor %}
        <br><br>
        <div style="position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;"><a href="{{ page.get_parent.url }}">Return to blog</a></p>

    </div>
{% endblock %}
