{% extends request.session.msg %}

{%load static%}

{% load wagtailcore_tags %}

{% block title %}Conferences{% endblock title %}

{% block body %}
<div style="background-image: url({% static 'media/bg.png'%});">
  <center>
  <table class="table" style="width:85%; margin-top:5px; text-align:justify">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Year</th>
        <th scope="col">Topic</th>
        <th scope="col">Venue</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
        {% for post in blogpages %}
        {% with post=post.specific %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{post.year|richtext}}</td>
        <td>{{post.intro}}</td>
        <td>{{post.venue}}</td>
        <td>{{post.date}}</td>
        <td><a href="{% pageurl post %}">View Gallery</a></td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  </center>
</div>

{% endblock body %}
